<!DOCTYPE html>
<html lang="en" ng-app="ticTakToe">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body ng-controller="mainController">
<div ng-if="connected">
  <div ng-if="state === 'login'">
    <label>Name</label>
    <input type="text" ng-model="userName">
    <button ng-click="sendUserName(userName)">Send Name</button>
  </div>
  <div ng-if="state === 'lobby'">
    <div>You are in lobby</div>
    <div> Select next action</div>
    <button ng-click="readyToPlay()">Ready to play</button>
    <button ng-click="playWithAI()">Play with AI</button>
    <button ng-click="spectate()">Spectate</button>
    <div ng-if="status">{{status}}</div>
  </div>
  <div ng-if="state === 'askSpec'">
    <div>
      Select game for watch
    </div>
    <button ng-repeat="game in activeGames" ng-click="startSpectGame(game.uuid)">{{game.playersNames}}</button>
    <button ng-click="goToLobby()">Go to lobby</button>
  </div>
  <div ng-if="state === 'game' || state === 'spec'">
    <div ng-if="status">{{status}}</div>
    <div>{{ourTurn ? 'Your turn' : 'opponent turn'}}</div>
    <div>
      <ul class="flex-container">
        <li class="flex-item" ng-click="cellClick(0,0)">{{board[0][0]}}</li>
        <li class="flex-item" ng-click="cellClick(0,1)">{{board[0][1]}}</li>
        <li class="flex-item" ng-click="cellClick(0,2)">{{board[0][2]}}</li>

        <li class="flex-item" ng-click="cellClick(1,0)">{{board[1][0]}}</li>
        <li class="flex-item" ng-click="cellClick(1,1)">{{board[1][1]}}</li>
        <li class="flex-item" ng-click="cellClick(1,2)">{{board[1][2]}}</li>

        <li class="flex-item" ng-click="cellClick(2,0)">{{board[2][0]}}</li>
        <li class="flex-item" ng-click="cellClick(2,1)">{{board[2][1]}}</li>
        <li class="flex-item" ng-click="cellClick(2,2)">{{board[2][2]}}</li>
      </ul>
    </div>
  </div>
</div>
<div ng-if="!connected">
  Please refresh page.
</div>

</body>

<script src="app/vendor/angular.js"></script>
<script src="app/index.js"></script>
</html>