.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 240px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    background: gray;
    padding: 20px;
    width: 30px;
    height: 30px;
    margin-top: 10px;

    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
